{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Pendaftaran Lomba{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <style>
        body {
            background-image: url('{% static "images/bunga.jpg" %}');
            background-size: cover; /* untuk menyesuaikan gambar dengan ukuran layar */
            background-repeat: no-repeat; /* untuk mencegah pengulangan gambar */
            background-position: center; /* untuk memusatkan gambar */
        }
    </style>
    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Pendaftaran Lomba</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'daftar_lomba' %}">Daftar Lomba</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Notifikasi -->
    <div class="container my-5">
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Konten dinamis -->
    <div class="container my-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
        <p>&copy; 2024 Pendaftaran Lomba. By Vista.</p>
    </footer>

    {% bootstrap_javascript %}
</body>
</html>
